* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.15rem;
}

.container {
  padding-top: 1em;
  text-align: center;
  margin: 10px auto;
  background-color: whitesmoke;
  min-width: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
}

input {
  margin: 20px 0;
  height: 20px;
  width: 100px;
}
.percent {
  font-weight: bold;
}
.hold-container,
.break-even-container {
  margin: 20px auto 0;
  width: 98%;
  padding: 1em;
}
.holdOutput,
.output {
  background: white;
  margin-top: 10px;
  display: block;
}
.break-even-container {
  background: coral;
}
.hold-container {
  background-color: peachpuff;
}
@media (min-width: 340px) {
  input {
    height: 30px;
  }
}
